<!-- if logged in -->
<% if user_signed_in? %>

    <body class="dashboardpage">

    <%= render 'layouts/navigation' %>

    <div class="content">

      <div class="sectionheader">

        <div class="rightside" onclick="window.location = '/products/new' ">
          <div class="createbutton" id="createlisting">
            &nbsp;&nbsp;CREATE&nbsp;NEW&nbsp;LISTING&nbsp;&nbsp;
          </div>
        </div>

        <h2 class="leftside" id="dashboardtitle">CURRENT LISTINGS</h2>

        <br class="clearing"/>
      </div>

      <!-- TODO style -->
      <% if connect_to_coinbase_visible? %>
          <div class="section">
            <%= link_to "Connect Coinbase Account", link_to_coinbase_auth %>
          </div>
      <% end %>

      <div class="section" id="dashcontainer">

        <div class="padder" id="dashboardtable" >
          <table>

            <!-- if no products by this user -->
            <% if current_user.products.nil? or current_user.products.empty? %>
                <tr>
                  <th> No products for sale. Add one!</th>
                </tr>

                <!-- else products by this user -->
            <% else %>
                <thead>
                <tr id="tablehead">
                  <th>Product Name</th>
                  <th>Unit Price</th>
                  <!-- TODO
                  <th>Sold</th>
                  <th>Total Sales</th>
                  -->
                </tr>
                </thead>
                <tbody>
                <% current_user.products.each do |x| %>
                    <tr>
                      <td>
                        <%= link_to x do %>
                            <%= x.name %>
                        <% end %> <!-- end link -->
                      </td>
                      <td>BTC <%= x.price %></td>

                      <!--
                      <td>893</td>
                      <td>BTC 1.3395</td>
                      -->
                    </tr>
                <% end %> <!-- end each -->
                </tbody>
            <% end %> <!-- end else products by this user -->

          </table>
        </div>

        <div class="clearing"></div>

      </div>

    </div>

    </body>

    <!-- else not logged in -->
<% else %>

    <body class="productlistingpage">

    <%= render 'layouts/navigation' %>

    <div class="content">

      <!-- if no products -->
      <% if @products.nil? or @products.empty? %>

          <div class="section">
            <p> Nothing for sale yet!</p>
          </div>

      <% else %> <!-- else products uploaded -->

          <!-- TODO style next and disable when no more items

        <div class="section">

          <a class="next-button" href="#">Next</a>

          <a class="buy-button" href="#">Buy</a>


            <div class="preloader">
              Purchasing...
            </div>


          </div>
         -->

          <div class="preloader section">
            Purchasing...
          </div>

          <div class="swiper-container product">
            <div class="swiper-wrapper" style="margin: 0px; padding: 0px">

              <% @products.each do |x| %>

                  <div class="swiper-slide" style="margin: 0px; padding: 0px">

                    <img src="images/product.png" width="100%" />

                    <div class="productlisting">
                      <div class="buycontrols" >
                        <div class="leftimage pricelabel">BTC</div>
                        <h3 class="leftimage" id="price"><%= x.price %></h3>

                        <div class="rightimage" onclick="window.location = '<%= "#{ENV["DOMAIN_NAME"]}/products/public/#{x.id}" %>' ">
                          <div class="buybutton">
                            BUY NOW
                          </div>
                        </div>

                      </div>
                      <div class="productinfo">
                        <h1 class="producttitle">
                          <%= x.name %>
                        </h1>

                        <div class="productdescription">
                          <%= x.description %>
                        </div>
                      </div>
                      <br />

                    </div>

                  </div><!-- end swiper slide -->

              <% end %><!-- end each -->

            </div><!-- end swiper wrapper -->

          </div><!-- end section -->

          <!-- end else no products uploaded -->
      <% end %>


    </div>
    <!-- end content -->

    <script src="/js/idangerous.swiper-2.1.min.js"></script>
    <script src="/js/home.js"></script>

    </body>

    <!-- end else not logged in -->
<% end %>
