<body class="createlistingpage">
<%= render 'layouts/navigation' %>
<div class="content">

  <%= form_for :product, html: { multipart: true }, url: products_path do |f| %>

  <div class="section padder createform">
    <h2>CREATE LISTING</h2>
    <br/>

    <%= render 'layouts/messages' %>

    <div><%= f.label(:name, 'TITLE') %></div>
    <%= f.text_field :name, placeholder: 'Type in your product name' %>

    <div><%= f.label(:price, 'PRICE') %></div>
    <%= f.text_field :price, placeholder: 'Price in USD' %>

    <div><%= f.label(:image, 'IMAGE (OPTIONAL)') %></div>
    <%= f.file_field :image, placeholder: 'Upload a product image' %>

    <div><%= f.label(:description, 'DESCRIPTION (OPTIONAL)') %></div>
    <%= f.text_area :description, rows: 4, placeholder: 'Write some additional details about your product' %>

    <div><%= f.label(:blob, 'UPLOAD DIGITAL FILE') %></div>
    <%= f.file_field :blob, placeholder: 'Upload your product' %>

    <div class="rightimage" onclick="  $( 'form' ).submit();  ">
      <div class="createbutton">
        &nbsp;&nbsp;CREATE&nbsp;LISTING&nbsp;&nbsp;
      </div>
    </div>

    <div class="clearing"></div>

  </div><!-- end section -->

  <% end %>

</div><!-- end content -->

</body>

