

<body class="productlistingpage">

<%= render 'layouts/navigation' %>

<div class="content">

  <div class="product">

    <%= render 'layouts/messages' %>

    <div class="productImageWrapper"><img class="productImage" src="<%= @product.image_url %>" width="100%"/></div>

    <div class="productlisting">
      <div class="buycontrols">
        <div class="leftimage pricelabel">USD</div>
        <h3 class="leftimage" id="price"><%= @product.price %></h3>
      </div>
      <div class="productinfo">
        <h1 class="producttitle">
          <%= @product.name %>
        </h1>

        <div class="productdescription">
          <%= @product.description %>
        </div>

        <div style="clear:both">&nbsp;</div>

        <div class="rightimage" onclick="createOrder('<%= @product.id %>')">
          <div class="buybutton" id ="buyButton">
            CHECKOUT
          </div>
        </div>

        <div style="clear:both">&nbsp;</div>

        <div id="send-address">
        </div>
        <div id="timer">
        </div>
        <div id="downloadLink">
        </div>
      </div>
      <br/>

    </div>

  </div>


</div>

</body>
</html>
