<script>
    function createOrder(product_id) {
        $('#buyButton').hide();
        $("#send-address").text("Creating destination address with CoinBase. Please wait...");

        $.post(
                "/orders",
                {product_id: product_id},
                function (data) {
                    $("#send-address").append("<p> Send bitcoin to " + data.order.receive_address + " .</p>");
                }
        ).fail(function () {
                    $("#send-address").text("Error contacting CoinBase...");
                    $('#buyButton').show();
                });
    }
</script>

<body class="productlistingpage">

<%= render 'layouts/navigation' %>

<div class="content">

  <div class="product">

    <img src="/images/product.png" width="100%" />

    <div class="productlisting">
      <div class="buycontrols" >
        <div class="leftimage pricelabel">BTC</div>
        <h3 class="leftimage" id="price"><%= @product.price %></h3>
      </div>
      <div class="productinfo">
        <h1 class="producttitle">
          <%= @product.name %>
        </h1>

        <div class="productdescription">
          <%= @product.description %>
        </div>

        <div style="clear:both">&nbsp;</div>

        <div class="rightimage" onclick="createOrder('<%= @product.id %>')">
          <div class="buybutton">
            CHECKOUT
          </div>
        </div>

        <div style="clear:both">&nbsp;</div>

        <div id="send-address">
        </div>

      </div>
      <br />

    </div>

  </div>

</div>

</body>
</html>
