    <% if user_signed_in? %>



          <div class="headerwrapper">
            <div class="header">
              <img width="120" height="23" src="/images/gumdrop_logo.png"
                onclick="window.location = '/' "
                />

              <div class="login">
                <strong><%= current_user.email %></strong>
                <%= link_to "LOGOUT", destroy_user_session_path, :method => 'delete' %>
              </div>

              <div class="login">
                <%= link_to "EDIT PROFILE", edit_user_registration_path %>
              </div>

              <div class="login createlistinglink">
                <a href="/products/new">CREATE LISTING</a>
              </div>

              <div class="login dashboardlink">
                <a href="/">DASHBOARD</a>
              </div>

            </div>
            <div class="clearing"></div>
          </div>



    <% else %>


        <div class="headerwrapper">
          <div class="header">
            <img width="120" height="23" src="/images/gumdrop_logo.png"
                 onclick="window.location = '/' "
                 />

            <div class="login">
              <img width="10" height="15" src="/images/lock_icon_gray.png" />
              <%= link_to "MERCHANT LOGIN", new_user_session_path %>
            </div>

            <div class="nav">
              <a href="/how.html">HOW IT WORKS</a>
              <%= link_to "SIGN UP", new_user_registration_path %>
            </div>

          </div>
          <div class="clearing"></div>
        </div>



    <% end %>
  </div>
</nav>
